extends layouts/main.pug

block body

  form(action="/record" method="POST")
    div(class="form-group row")
      label(for="name" class="col-sm-2 col-form-label") 名稱
      div(class="col-sm-10")
        input(type="text" class="form-control" id="name" name="name")
    div(class="form-group row")
      label(for="date" class="col-sm-2 col-form-label") 日期
      div(class="col-sm-10")
        input(type="date" class="form-control" id="date" name="date")
    div(class="form-group row")
      label(for="category" class="col-sm-2 col-form-label") 類別
      div(class="col-sm-10")
        select(class="form-control" id="category" name="category")
          option(selected) 選擇類別
          option 家居物業
          option 交通出行
          option 休閒娛樂
          option 餐飲食品
          option 其他
    div(class="form-group row")
      label(for="amount" class="col-sm-2 col-form-label") 金額
      div(class="col-sm-10")
        input(type="text" class="form-control" id="amount" name="amount")
    div(class="form-group row")
      div(class="col-sm-10")
        button(type="submit" class="btn btn-primary") 新增